<!--<div class="widget-box" id="recent-box" ng-controller="usersController">-->
<!--<div class="widget-header header-color-blue">-->
<!--<div class="row">-->
<!--<div class="col-sm-6">-->
<!--<h4 class="bigger lighter">-->
	<!--<i class="glyphicon glyphicon-align-justify"></i>&nbsp;-->
	<!--user MANAGER-->
<!--</h4>-->
<!--</div>-->
<!--<div class="col-sm-3">-->
<!--<button ng-click="addNewClicked=!addNewClicked;" class="btn btn-sm btn-danger header-elements-margin"><i class="glyphicon  glyphicon-plus"></i>&nbsp;Add New user</button>-->
<!--</div>-->
<!--<div class="col-sm-3">-->

<!--<input type="text" ng-model="filteruser" class="form-control search header-elements-margin" placeholder="Filter users">-->

<!--</div>-->
<!--</div></div>-->
<!--<div class="widget-body ">-->
<!--<form ng-init="addNewClicked=false; " ng-if="addNewClicked" id="newuserForm" class="add-user">-->
<!--<div class="form-actions">-->
<!--<div class="input-group">-->
<!--<input type="text" class="form-control" name="comment" ng-model="userInput" placeholder="Add New user" ng-focus="addNewClicked">-->
<!--<div class="input-group-btn">-->
<!--<button class="btn btn-default" type="submit" ng-click="adduser(userInput)"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New user</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--<div class="user">-->
	<!--<label class="checkbox" ng-repeat="user in users | filter : filteruser">-->
    <!--<input -->
	<!--type="checkbox"-->
	<!--value="{{user.STATUS}}"-->
	<!--ng-checked="user.STATUS==2"-->
	<!--ng-click="toggleStatus(user.ID,user.STATUS, user.user)"/> -->
	<!--<span ng-class="{strike:user.STATUS==2}">{{user.user}} [{{user.ID}}]</span>-->
	<!--<a ng-click="deleteuser(user.ID)" class="pull-right"><i class="glyphicon glyphicon-trash"></i></a>-->
    <!--</label>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->